.stopwatch {
    text-align: center;
    margin: 70px auto;
    width: fit-content;
    padding: 1.8rem;
    font-size: 1.8rem;
    border-radius: 20px;
    background-color: rgb(167, 167, 167);
}

button {
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}